* {
  margin: 0px;
  padding: 0px;
  background-color: rgb(40, 38, 52);
  box-sizing: border-box;
  text-decoration: none;
}
.navbar {
  max-width: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: auto;
}
.logo img {
  margin: 8px;
  padding: 8px;
  max-height: 130px;
  max-width: 200px;
  margin-right: 90px;
}
.menu {
  max-width: 100%;
  margin: 0px auto;
}
.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0px auto;
  /* margin-left: 90px; */
}

.menu ul li {
  list-style: none;
  text-decoration: none;
  margin: 0px 10px;
  padding: 0px 12px;
  font-size: 1.2rem;
}
.menu ul li a {
  color: whitesmoke;
  margin: 8px 8px;
  padding: 8px 8px;
  transition: all 0.4s ease-in-out;
  border-radius: 18px;
}
.menu ul li a:hover {
  background-color: rgb(255, 64, 87);
}

.submit {
  /* margin: 0px 0px 0px 260px; */
  padding: 8px 8px;
  max-width: 100%;
  margin: 0px auto;
}
#submit {
  background-color: rgb(255, 64, 87);
  font-size: 1.2rem;
  border-radius: 18px;
  padding: 8px 8px;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
#submit:hover {
  background-color: whitesmoke;
color: rgb(255, 64, 87);
}

.footer {
  /* border: 2px solid pink; */
  margin-top: 50px;
  background-color: rgb(220, 220, 220);
}
.container {
  background-color: rgb(220, 220, 220);
}
.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  background: rgb(220, 220, 220);
}
.footerinfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* border: 2px solid pink; */
  margin: 20px;
  color: rgb(255, 64, 87);
  background: rgb(220, 220, 220);
}

.footerinfo h4 {
  font-size: 1.3rem;
  color: rgb(255, 64, 87);
  background: rgb(220, 220, 220);
}
.footerinfo ul li {
  list-style: none;
  text-decoration: none;
  background: rgb(220, 220, 220);
}
.footerinfo ul li a{
  color: rgb(255, 64, 87);
  text-decoration: none;
  background: rgb(220, 220, 220);
}

.info1 {
  margin: 2px;
  font-size: 1.1rem;
  /* background: rgb(220, 220, 220); */
}

.info2 {
  margin: 2px;
  font-size: 1.1rem;
  /* background: rgb(220, 220, 220); */
}

.info3 {
  margin: 2px;
  font-size: 1.1rem;
  /* background: rgb(220, 220, 220); */
}
#info4 {
  background: rgb(220, 220, 220);
  padding: 5px 5px;
  margin: 5px 0px;
}
.info4 {
  margin: 0px 0px;
  text-align: left;
  font-size: 1.8rem;
  background: rgb(220, 220, 220);
}

#submit1 {
  background-color: rgb(255, 64, 87);
  font-size: 1.2rem;
  border-radius: 18px;
  padding: 8px 8px;
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin-top: 20px;
}
#submit1:hover {
  background-color: whitesmoke;
color: rgb(255, 64, 87);
}
#hr {
  max-width: 100%;
  max-height: 3px;
  color: rgb(241, 36, 60);
  background-color: rgb(241, 36, 60);
}
.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.8rem;
  background: rgb(220, 220, 220);
}
.copy {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  background: rgb(220, 220, 220);
}
.terms {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  background: rgb(220, 220, 220);
}
#copy1 {
  font-size: 20px;
  margin: 8px;
  padding: 8px;
  color: rgb(241, 36, 60);
  background: rgb(220, 220, 220);
  /* margin-right: 25px;
  margin-left: 90px; */
}
#copy2 {
  font-size: 20px;
  margin: 8px;
  padding: 8px;
  color: rgb(241, 36, 60);
  background: rgb(220, 220, 220);
}
#terms1 {
  font-size: 20px;
  margin: 8px;
  padding: 8px;
  color: rgb(241, 36, 60);
  background: rgb(220, 220, 220);
  /* margin-left: 230px; */
}
#terms2 {
  font-size: 20px;
  margin: 8px;
  padding: 8px;
  color: rgb(241, 36, 60);
  background: rgb(220, 220, 220);
  /* margin-left: 90px; */
}
.signin {
  display: flex;
 align-items: center;
  justify-content: center;
}
#signin {
  color: rgb(255, 64, 87);
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 8px;
  margin: 50px 8px;
  font-size: 20px;
}

#subscribe {
  color: whitesmoke;
  cursor: pointer;
  background-color: rgb(255, 64, 87);
  border-radius: 20px;
  padding: 8px;
  margin: 50px 8px;
  font-size: 20px;
  transition: all 0.4s ease-in-out;
}
#subscribe:hover {
  color: rgb(255, 64, 87);
  background-color: whitesmoke;
}
.content2 {
  color: whitesmoke;
  text-align: center;
  font-size: 25px;
}
.content2 p {
  max-width: 80%;
  margin: 0px auto;
}
.content3 {
  color: rgb(220, 220, 220);
  text-align: center;
  font-size: 18px;
  margin: -33px 8px;
  margin-bottom: 170px;
}
