#home {
  background-color: rgb(255, 64, 87);
  border-radius: 18px;
}
.content1 {
  color: rgb(220, 220, 220);
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  display: block;
  max-width: 100%;
  margin: auto;
}
.content1 p {
  width: 80%;
  margin: 50px auto;
  margin-bottom: 20px;
}
.content2 {
  color: whitesmoke;
  text-align: center;
  font-size: 2rem;
}
.content2 p {
  width: 80%;
  margin: 0px auto;
}
.signin {
  display: flex;
  align-items: center;
  justify-content: center;
}
#signin {
  color: rgb(255, 64, 87);
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 8px;
  margin: 50px 8px;
  font-size: 1.5rem;
}

#subscribe {
  color: whitesmoke;
  cursor: pointer;
  background-color: rgb(255, 64, 87);
  border-radius: 20px;
  padding: 8px;
  margin: 50px 8px;
  font-size: 1.5rem;
  transition: all 0.4s ease-in-out;
}
#subscribe:hover {
  color: rgb(255, 64, 87);
  background-color: whitesmoke;
}
.content3 {
  color: rgb(220, 220, 220);
  text-align: center;
  font-size: 1.3rem;
  margin: -33px 8px;
  margin-bottom: 170px;
}
.aitools {
  color: rgb(220, 220, 220);
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
}

.tools {
  /* border: 2px solid pink; */
  display: flex;

  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
  margin-top: 45px;
  max-height: fit-content;
  justify-content: space-evenly;
}
.ai img {
  height: 500x;
  width: 281.25px;
  border-radius: 10px;
  margin: 30px 13px;
  transition: all 0.5s ease-in-out;
}
.ai img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.aiplugins {
  color: rgb(220, 220, 220);
  text-align: center;
  width: 50%;
  margin: 0px auto;
}
.aiplugins h1 {
  max-width: 100%;
  margin: 0px auto;
  margin-top: 50px;
  font-size: 4.5rem;
  font-weight: bolder;
}
.aiplugins p {
  max-width: 100%;
  margin: 10px auto;
  font-size: 1.5rem;
}

.plugins {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  max-width: 50%;
  margin: 100px auto;
  color: rgb(220, 220, 220);
}

.plugins {
  display: flex;
  flex-direction: column;
}
.plugin {
  display: flex;
  /* align-items: center; */
}
.pluginimg {
  margin: 10px;
  max-width: 100px;
  border-radius: 10px;
}
.pluginp {
  margin: 10px;
  font-size: 35px;
}

.pluginp1 {
  font-weight: lighter;
  margin: 10px;
}
.plugin a {
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  color: rgb(220, 220, 220);
  transition: all 0.5s ease-in-out;
}
.pluginlink1 {
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.pluginlink1:hover {
  transform: translatex(25px);
}

.aiglossary {
  color: rgb(220, 220, 220);
  text-align: center;
  width: 50%;
  margin: 0px auto;
  margin-top: 100px;
}
.aiglossary h1 {
  font-size: 4.5rem;
  font-weight: bolder;
}
.aiglossary p {
  margin-top: 20px;
  font-size: 1.5rem;
}
.glossary {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  flex-wrap: wrap;
  width: 50%;
  margin: 100px auto;
  color: rgb(220, 220, 220);
}
.glossary1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: auto;
  color: rgb(220, 220, 220);
}
.glossary1 h2 {
  color: rgb(255, 64, 87);
  margin: 15px;
  font-size: 2rem;
}
.glossary1 p {
  margin: 15px;
  font-size: 1.5rem;
  text-align: center;
}

.aiguides {
  color: rgb(220, 220, 220);
  text-align: center;
  width: 50%;
  margin: 0px auto;
}
.aiguides h1 {
  font-size: 4.5rem;
  font-weight: bolder;
}

.guides {
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
  flex-wrap: wrap;
  width: 50%;
  margin: 100px auto;
  color: rgb(220, 220, 220);
}
.guides1 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  flex-wrap: wrap;
  max-width: 100%;
  margin: auto;
  color: rgb(220, 220, 220);
}
.guides1 h2 {
  color: rgb(255, 64, 87);
  margin: 15px;
  font-size: 2rem;
}
.guides1 p {
  margin: 15px;
  font-size: 1.5rem;
  /* text-align: center; */
}
#para1 {
  margin-bottom: 70px;
}

.bots {
  display: flex;
  flex-direction: column;
}
.bot {
  display: flex;
  align-items: center;
}
.botimg {
  margin: 10px;
  width: 60px;
  border-radius: 10px;
}
.botp {
  margin: 10px;
}
.bot a {
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
  color: rgb(220, 220, 220);
  transition: all 0.5s ease-in-out;
}
.bot a:hover {
  color: rgb(255, 64, 87);
}
.botlink1 {
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.botlink1:hover {
  transform: translatex(25px);
}
